@import '@yanbrain/shared/styles/globals.css';
@import '@radix-ui/colors/slate-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/orange-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }
}